@import "line";
@import "rwd";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
html{
  scroll-behavior: smooth;
  font-family: 'Noto Sans TC', sans-serif;
}
:root {
  --text-color: #111;
  --bg-color: #ffffff;
}
.layout{
  .homePage{
    height: 100vh;
    margin-bottom: -4%;
    h1{
      font-size: 5rem;
      width: 30%;
      text-align: right;
      @include w1920max{
        width: 50%;
      }
      @include w768max{
        font-size: 3rem;
      }
      @include w576max{
        font-size: 2rem;
      }
    }
    h3{
      position: absolute;
      bottom: 5%;
      right: 5%;
    }
  }
  .portfolio{
    margin-top: 33vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper{
      max-height: 700px;
      background-color: #000;
      position: relative;
      .slide{
        .info{
          padding: 1rem;
          color: #fff;
          position: absolute;
          bottom:0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          .link{
            color: white;
          }
        }
      }
      .swiper-pagination-bullet{
        border-radius: 0;
        width: 20px;
        height: 20px;
      }
    }
  }
}