@import "lineSvg";

:root {
  --text-color: #111;
  --bg-color: #ffffff;
}
body {
  margin: 0;
  font-family: termina, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

.layout{
  .nav{
    display: none;
  }
  .homePage{
    section:not(#sectionPin) {
      min-height: 100vh;
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2rem;
      padding: 50px 10vw;
      margin: auto;
      place-items: center;
    }
    img {
      height: 80vh;
      width: auto;
      object-fit: cover;
    }
    .wellcome{
      h1 {
        font-size: 5rem;
        line-height: 1;
        font-weight: 800;
        margin-bottom: 1rem;
        position: absolute;
        top: 10vw;
        left: 10vw;
        z-index: 4;
        overflow-wrap: break-word;
        hyphens: auto;

        @media (max-width: 768px) {
          font-size: 16vw;
        }

        span {
          display: block;
        }
      }
      p {
        position: absolute;
        bottom: 10vw;
        right: 10vw;
        width: 200px;
        line-height: 1.5;
      }
    }
    .credit {
      font-family: Termina, sans-serif;
    }
    #sectionPin {
      height: 100vh;
      overflow: hidden;
      display: flex;
      left: 0;
      background: var(--text-color);
      color: var(--bg-color);
    }
    .pin-wrap {
      h2 {
        font-size: 2rem;
        max-width: 400px;
      }
      background-color: #ffffff;
      color: #111;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 50px 10vw;

      & > * {
        min-width: 60vw;
        padding: 0 5vw;
      }
    }
    .section-three{
      font-family: "Jost", sans-serif;
      background-image: url(https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      a{
        color: white;
      }
    }
  }
}

